.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}

.object {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #02AAB0;
}
