<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Calculator</title>
	<link rel="stylesheet" type="text/css" href="/public/css/app.css">
	<script src="/public/js/pure/calculate.js" type="text/javascript"></script>
</head>
<body>
<div class="container-center">
	<div>
		<h1>Welcome to simply calculator!</h1>
	</div>
	<div id="calculator">
		<label for="number1">Number 1</label>
		<input type="text" id="number1" size="5" class="m-1 p-2" />
		<span class="m-1 p-2"> + </span>
		<label for="number2">Number 2</label>
		<input type="text" id="number2" size="5" class="m-1 p-2" />
		<input type="button" id="button" value="Count" class="m-1 p-2">
	</div>
</div>
</body>
</html>
