<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="public/css/learn/javascript/js.css">
	<title>KeyboardEvent</title>
</head>
<body>
	<div class="d-flex">
		<div>
			<div>
				<label for="test-target">Console</label>
			</div>
			<textarea rows="5" name="test-target" id="test-target"></textarea>
			<button type="button" name="btn-clear-console" id="btn-clear-console">Clear</button>
		</div>
		<div class="side-left">
			<pre id="console-log"></pre>
		</div>
	</div>

	<p>
		<label>TODO:</label>
		<a href="https://bit.ly/3h8Y97A">Link for article about keyboard Event</a>
	</p>
</body>
</html>
