.m-1 {
  margin: 0.25em;
}

.m-2 {
  margin: 0.5em;
}

.m-3 {
  margin: 0.75em;
}

.m-4 {
  margin: 1em;
}

.m-5 {
  margin: 1.25em;
}

.m-6 {
  margin: 1.5em;
}

.p-1 {
  padding: 0.25em;
}

.p-2 {
  padding: 0.5em;
}

.p-3 {
  padding: 0.75em;
}

.p-4 {
  padding: 1em;
}

.p-5 {
  padding: 1.25em;
}

.p-6 {
  padding: 1.5em;
}

.tc {
  text-align: center;
}

.line-under {
  padding-bottom: 0.1em;
  border-bottom: 1px solid #262626;
}

.btn {
  font-size: 20px;
  padding: 15px 30px;
  color: white;
  overflow: hidden;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}
@media all and (min-width: 0px) and (max-width: 480px) {
  .btn {
    font-size: 12px;
    padding: 6px 8px;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding: 8px 10px;
  }
}
@media all and (min-width: 769px) and (max-width: 1024px) {
  .btn {
    font-size: 16px;
    padding: 12px 16px;
  }
}
.btn__success {
  background: forestgreen;
}
.btn__warning {
  background: darkred;
}
.btn__info {
  background: mediumblue;
}
.btn__announcement {
  background: orange;
}

.circle__normal {
  border-radius: 50%;
  z-index: 5;
  background: #00CDAC;
  height: 40vh;
  width: 40vh;
  position: relative;
}
.circle__small {
  position: absolute;
  z-index: 10;
  height: 30vh;
  width: 30vh;
  background: #00CDAC;
  opacity: 0.4;
}
.circle__large {
  height: 50vh;
  width: 50vh;
  position: relative;
  background: #01bb9d;
  opacity: 0.8;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 1024px;
  min-height: 70vh;
  color: white;
}
@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
}
.container__side-left {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 0.3em;
  background: #FF0073;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .container__side-left {
    width: 100%;
  }
}
.container__side-right {
  width: 75%;
  margin: 0.3em;
  background: #FFBA3F;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .container__side-right {
    width: 100%;
  }
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;
  margin: auto;
}

.container-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: fit-content;
  margin: auto;
}

.container-col > button {
  margin: 0.4em;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.navbar {
  padding: 0.5em;
  background: #004190;
  height: 15vh;
  color: white;
}
@media screen and (max-width: 768px) {
  .navbar {
    height: 10vh;
  }
}

.footer {
  min-height: 15vh;
  background: #FF6F49;
  color: white;
}

.container-1 {
  display: flex;
}

.container-2 {
  display: flex;
  justify-content: space-between;
}

.container-1 div, .container-2 div {
  border: 1px #ccc solid;
  padding: 0.5em;
}

.box-1 {
  flex: 1;
}

.box-2 {
  flex: 1;
}

.box-3 {
  flex: 1;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  font-family: Hack, monospace;
}

/*# sourceMappingURL=app.css.map */
