<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/lego.css">
    <title>Lego | Ninjago</title>
</head>
<body>
    <nav>Choose your hero</nav>
    <section class="container">
        <div>
            <label class="card">
                <input type="radio" class="radio" value="1">
            </label>
        </div>
        <div class="card">
            <input type="radio" value="1">
        </div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </section>
    <section class="menu">
        <div>Let's go</div>
        <div>
            <a class="no-decoration" href="lego-hero.html">
                <span class="arrow right"></span>
                <span class="arrow right"></span>
                <span class="arrow right"></span>
            </a>
        </div>
    </section>
</body>
</html>