<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="/node_modules/panicum/dist/app.css">
	<link rel="stylesheet" type="text/css" href="/public/css/panicum/panicum.css">
</head>
<body>
<section class="container">
	<header class="header d-flex jcc aic">
		<button class="btn-primary m-1">Click me!</button>
		<button class="btn-secondary m-1">Click me!</button>
	</header>
	<section class="wrapper-content">

	</section>
	<footer class="footer">

	</footer>

</section>
</body>
</html>
