<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="/node_modules/panicum/dist/app.css">
	<link rel="stylesheet" type="text/css" href="/public/css/panicum/panicum.css">
</head>
<body>
<section class="container">
	<header class="header">
		<div class="d-flex jcc aic">
			<button class="btn-primary">Click me!</button>
			<button class="btn-secondary">Click me!</button>
		</div>
	</header>
	<section class="wrapper-content">

	</section>
	<footer class="footer">

	</footer>

</section>
</body>
</html>
