<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/public/css/app.css">
	<title>CSS - skills</title>
</head>
<body>
<section class="container">
	<header class="header">
	</header>
	<section class="wrapper-content">
		<div class="circles--wrapper">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
		</div>
	</section>
	<footer class="footer">

	</footer>
</section>
</body>
</html>
