$circleSize: 150px;
$leftMove: calc(#{$circleSize} - 50px);

$circleWithImage: (
	"../../front/images/IMG_2530.jpg",
	"../../front/images/IMG_2531.jpg",
	"../../front/images/IMG_2532.jpg",
	"../../front/images/IMG_2535.jpg",
	"../../front/images/IMG_2539.jpg",
	"../../front/images/IMG_2540.jpg"
);

@for $i from 1 to 6 {
	$imageUrlPath: nth($circleWithImage, $i);

	.circle:nth-child(#{$i}) {
		left: calc(#{$leftMove} * #{$i});
		z-index: $i;
		background-image: url($imageUrlPath);
	}
}

.circles--wrapper {
	display: flex;
	position: relative;
	flex-wrap: wrap;
}

.circle:last-child {
	background-image: url("../../front/images/IMG_2540.jpg");
}
.circle:first-child {
	background-image: url("../../front/images/IMG_2543.jpg");
}

.circle {
	position: absolute;
	width: $circleSize;
	height: $circleSize;
	background-size: cover;
	border-radius: 50%;
	border: 15px solid white;
}