@import url('node_modules/panicum/dist/app.css');
@import "learn/utilities/variables";
@import "learn/utilities/spacing";
@import "learn/utilities/text";
@import "learn/components/buttons";
@import "learn/components/circle";
@import "learn/components/calendar";
@import "learn/layout/layout";
@import "learn/layout/flexbox";
@import "learn/components/profile";
@import "learn/jquery/spinner";
@import "learn/jquery/jQuery";
@import "learn/javascript/dragAndDrop";
@import "inspiration/copyCode";
@import "learn/css/beforeAfter";

body {
  margin: 0 auto;
  min-height: 100vh;
  font-family: Hack, monospace;
}
