<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="public/js/array/index.js"></script>
	<title>Array methods | JS</title>
</head>
<body>
<ul>
	List of array methods in JS
	<li>from()</li>
	<li>isArray()</li>
	<li>of()</li>
	<li>concat()</li>
	<li>copyWithin()</li>
	<li>entries()</li>
	<li>every()</li>
	<li>fill()</li>
	<li>filter()</li>
	<li>find()</li>
	<li>findIndex()</li>
	<li>flat()</li>
	<li>flatMap()</li>
	<li>foreach()</li>
	<li>includes()</li>
	<li>indexOf()</li>
	<li>join()</li>
	<li>keys()</li>
	<li>lastIndexOf()</li>
	<li>map()</li>
	<li>pop()</li>
	<li>push()</li>
	<li>reduce()</li>
	<li>reverse()</li>
	<li>shift()</li>
	<li>slice()</li>
	<li>some()</li>
	<li>sort()</li>
	<li>splice()</li>
	<li>toLocaleString()</li>
	<li>toString()</li>
	<li>unShift()</li>
	<li>values()</li>
</ul>
</body>
</html>
