@import "../utilities/variables";

.container {
  display: flex;
  margin: 0 auto;
  width: 1024px;
  min-height: 70vh;
  color: white;

  @media screen and (max-width: $papa-bear) {
	width: 100%;
  }

  @media screen and (max-width: $mama-bear) {
	flex-wrap: wrap;
  }

  &__side-left {
	width: 25%;
	display: flex;
	flex-direction: column;
	margin: .3em;
	background: #FF0073;
	border-radius: 8px;

	@media screen and (max-width: $mama-bear) {
	  width: 100%;
	}
  }

  &__side-right {
	width: 75%;
	margin: .3em;
	background: #FFBA3F;
	border-radius: 8px;

	@media screen and (max-width: $mama-bear) {
	  width: 100%;
	}
  }
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vh;
  height: 100vh;
  margin: auto;
}

.container-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: fit-content;
  margin: auto;
}

.container-col > button {
  margin: .4em;
}

.container-row {
  display: flex;
  flex-direction: row;
}
