<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/public/css/app.css">
    <title>Flexbox</title>
</head>
<body>
	<div class="container-1">
		<div class="box-1">
			<h3>Box 1</h3>
			<p>Something</p>
		</div>
		<div class="box-2">
			<h3>Box 2</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis lectus a metus lacinia congue. Nulla sed quam auctor, vulputate ipsum at, feugiat enim. In luctus vestibulum vulputate. Phasellus congue posuere lorem lacinia ullamcorper. Praesent a sagittis nulla. Proin vestibulum nulla dictum, dapibus ex sit amet, luctus nibh. Ut ullamcorper in leo sit amet blandit. Curabitur pellentesque nibh sed ipsum lacinia, sit amet pulvinar sapien sagittis. Fusce vel iaculis elit.</p>
		</div>
		<div class="box-3">
			<h3>Box 3</h3>
			<p>Something</p>
		</div>
	</div>

	<div class="container-2">
		<div class="box-4">
			<h3>Box 4</h3>
			<p>Something</p>
		</div>
		<div class="box-5">
			<h3>Box 5</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis lectus a metus lacinia congue. Nulla sed quam auctor, vulputate ipsum at, feugiat enim. In luctus vestibulum vulputate. Phasellus congue posuere lorem lacinia ullamcorper. Praesent a sagittis nulla. Proin vestibulum nulla dictum, dapibus ex sit amet, luctus nibh. Ut ullamcorper in leo sit amet blandit. Curabitur pellentesque nibh sed ipsum lacinia, sit amet pulvinar sapien sagittis. Fusce vel iaculis elit.</p>
		</div>
		<div class="box-6">
			<h3>Box 6</h3>
			<p>Something</p>
		</div>
	</div>
</body>
</html>
