<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/public/css/app.css">
    <title>Title</title>
</head>
<body>
	<nav class="navbar tc">
		.navbar
	</nav>

	<div class="container tc">
		<div class="container__side-left p-3">
			<p>side-left</p>
			<p class="container-col p-2">
				<button class="btn btn__success">Success</button>
				<button class="btn btn__warning">Warning</button>
				<button class="btn btn__info">Info</button>
				<button class="btn btn__announcement">Announcement</button>
			</p>

		</div>
		<div class="container__side-right p-3">
			side-right
		</div>
	</div>

	<footer class="footer tc p-5">
		.footer
	</footer>
</body>
</html>
